.friend {
  margin-bottom: 5px;
}
.friend img {
  max-height: 150px;
  max-width: 100%;
}
.friend p {
  padding: 0px;
  margin: 0px;
}
.friend .ahead {
  color: green;
}
.friend .behind {
  color: red;
}
