.friend {
  margin-bottom: 5px;
}
.friendName, .friendPoints {
  position: relative;
}
.friend img {
  max-height: 150px;
  max-width: 100%;
}
.friend p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.friend .ahead {
  color: green;
}
.friend .behind {
  color: red;
}
.friend:hover {
  background-color: silver;
}